*{
  margin: 0;
  padding: 0;
}

.container {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr; 
  grid-template-rows: 0.2fr 0.3fr 1fr 0.2fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header"
    "title"
    "content"
    "footer"; 
}

.header {
  background-color: purple;
  grid-area: header;
  width: 100vh;
  height: 5vh;
}

/* temporário até burger ser desenvolvido */
.link-navbar {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.title {
  background-color: red;
  grid-area: title;}

.content {
  background-color: blue;
  grid-area: content;
}

.footer {
  background-color: green;
  grid-area: footer;
}