*{
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  height: 100vh; 
  grid-template-columns: 1fr; 
  grid-template-rows: 0.2fr 2.4fr 4fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header"
    "title"
    "content"
    "footer"; 
  text-align: center;
}

.header {
  background-color: purple;
  grid-area: header;
}

.navbar {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

/* temporário até burger ser desenvolvido */
.link-navbar {
  text-decoration: none;
  color: white;
}

.title {
  background-color: red;
  font-size: 5vh;
  grid-area: title;
}

.content {
  background-color: blue;
  grid-area: content;
}

.footer {
  background-color: green;
  grid-area: footer;
}

/* Projetos */

.project {
  border: 1px solid pink;
  display: flex;
}

.project-image {
  width: 100px;
}